// @use "../../scss/breakpoint"as *;
@use '../../../scss/_breakpoints.scss'as *;

.movie-list {
    .swiper-slide {
        width: 15%;

        @include tablet {
            width: 30%;
        }

        @include mobile {
            width: 15%;
        }
    }
}